:root {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  --clr-primary: rgb(0, 0, 0);
  --clr-secondary: rgba(255, 255, 255, 0.9);
}

@media (prefers-color-scheme: dark), (prefers-color-scheme: no-preference) {
  * {
    --clr-primary: rgb(0, 0, 0);
    --clr-secondary: rgba(255, 255, 255, 0.9);
  }
}

@media (prefers-color-scheme: light) {
  * {
    --clr-primary: rgba(255, 255, 255, 0.75);
    --clr-secondary: rgb(0, 0, 0);
  }
}

body {
  background-color: var(--clr-primary);
  color: var(--clr-secondary);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.stoic {
  cursor: pointer;
}

.stoic:not(.stoic_showText):not(.stoic_hideText) .stoic__backquote:before {
  content: '';
}

.stoic__backquote:before {
  content: '\201C';
  margin-right: 0.4rem;
  font-size: 1.5rem;
}

.stoic__controlls {
  display: none;
}

.navBar {
  position: fixed;
  right: 1rem;
  top: 1rem;

  width: auto;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  gap: 5px;
}

.navBar svg {
  stroke: var(--clr-secondary);
  cursor: pointer;

  transition: transform 0.3s ease-in-out;
}

.navBar svg:hover {
  transform: scale(110%);
  stroke-width: 2.3;
}

.amorfati {
  position: fixed;
  left: 1rem;
  top: 1rem;
  font-size: 1.1rem;
  text-transform: lowercase;
}
