:root {
  box-sizing: border-box;
  --clr-bg: black;
  --clr-text: white;
}
* {
  margin: 0;
}
body {
  background-color: var(--clr-bg);
  color: var(--clr-text);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.stoic * {
  cursor: pointer;
}

.stoic {
  transition: transform 0.3s ease-in-out;
}

.lucide-github:hover {
  transform: scale(110%);
}

.stoic:not(.stoic_showText):not(.stoic_hideText) .stoic__backquote:before {
  content: '';
}

.stoic__backquote:before {
  content: '\201C';
  margin-right: 0.4rem;
  font-size: 1.5rem;
}
.stoic svg {
  display: none;
}
.lucide-github {
  position: fixed;
  right: 1rem;
  top: 1rem;
  stroke: var(--clr-text);
  cursor: pointer;

  transition: transform 0.3s ease-in-out;
}

.lucide-github:hover {
  transform: scale(110%);
  stroke-width: 2.3;
}

.amorfati{
  position: fixed;
  left:1rem;
  top:1rem;
  font-size: 1.1rem;
  text-transform: lowercase;
}
